{% extends '::base.html.twig' %}
{% block head  %}
<div class="container">
    <nav class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if is_granted('ROLE_USER') %}

                    <ul class="nav nav-pills">
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'index' or app.request.attributes.get('_route') == 'edit-profile' %}class="active" {% endif %}><a href="{{ path('index') }}"> My profile</a></li>
                        <li role="presentation"{% if app.request.attributes.get('_route') == 'logout' %}class="active" {% endif %}> <a href="{{ path('logout') }}"> Wyloguj</a></li>
                    </ul>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <ul class="nav nav-pills">
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'index' or app.request.attributes.get('_route') == 'edit-profile' %}class="active" {% endif %}><a href="{{ path('index') }}"> My profile</a></li>
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'users' %}class="active" {% endif %}> <a href="{{ path('users') }}"> Users</a></li>
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'role' %}class="active" {% endif %}> <a href="{{ path('role') }}"> Roles</a></li>
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'logout' %}class="active" {% endif %}> <a href="{{ path('logout') }}"> Wyloguj</a></li>
                    </ul>
                {% else %}
                    <ul class="nav nav-pills">
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'index' %}class="active" {% endif %}><a href="{{ path('index') }}"> Home</a></li>
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'login' %}class="active" {% endif %}><a href="{{ path('login') }}"> Zaloguj</a></li>
                        <li role="presentation" {% if app.request.attributes.get('_route') == 'registry' %}class="active" {% endif %}><a href="{{ path('registry') }}"> Zarejestruj</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

</div>
    <hr>
{% endblock %}
