{% extends '::base.html.twig' %}
{% block head  %}
<div class="container">
        {% if is_granted('ROLE_USER') %}

            <ul class="nav nav-pills">
                <li role="presentation" {% if app.request.attributes.get('_route') == 'index' %}class="active" {% endif %}><a href="{{ path('index') }}"> Home</a></li>
                <li role="presentation" {% if app.request.attributes.get('_route') == 'profile' %}class="active" {% endif %}> <a href="{{ path('profile') }}"> Panel</a></li>
                <li role="presentation"{% if app.request.attributes.get('_route') == 'logout' %}class="active" {% endif %}> <a href="{{ path('logout') }}"> Wyloguj</a></li>
            </ul>


        {% elseif is_granted('ROLE_ADMIN') %}
            <ul class="nav nav-pills">
                <li role="presentation" {% if app.request.attributes.get('_route') == 'index' %}class="active" {% endif %}><a href="{{ path('index') }}"> Home</a></li>
                <li role="presentation" {% if app.request.attributes.get('_route') == 'logout' %}class="active" {% endif %}> <a href="{{ path('logout') }}"> Wyloguj</a></li>
            </ul>

        {% else %}
            <ul class="nav nav-pills">
                <li role="presentation" {% if app.request.attributes.get('_route') == 'index' %}class="active" {% endif %}><a href="{{ path('index') }}"> Home</a></li>
                <li role="presentation" {% if app.request.attributes.get('_route') == 'login' %}class="active" {% endif %}><a href="{{ path('login') }}"> Zaloguj</a></li>
                <li role="presentation" {% if app.request.attributes.get('_route') == 'registry' %}class="active" {% endif %}><a href="{{ path('registry') }}"> Zarejestruj</a></li>
            </ul>

        {% endif %}

</div>
    <hr>
{% endblock %}
