{% extends 'CmsUserBundle:layout.html.twig' %}

{% block body %}
<div class="container">
    {% if roles %}
        <table class="table .table-hover">
            <tr>
                <th>Id </th>
                <th>Role </th>
                <th>Name </th>
                <th>Is active </th>
            </tr>

            {% for role in roles %}
                <tr style="background-color: {% if  role.isActive == 1 %}  #e0ffd5; {% else %} #ffdfe1; {% endif %}">
                    <td id="id"> <span>{{ role.id }} </span></td>
                    <td id="role"> <span>{{ role.role }} </span></td>
                    <td id="name"> <span>{{ role.name }} </span></td>
                    <td id="isActive"> <span>{{ role.isActive }} </span></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form method="POST" action="{{ path('role') }}">

        <div class="form-group">
            <span class="filed-name">Role</span>
            <input name="role" type="text" class="form-control" placeholder="Role" aria-describedby="basic-addon2" required autocomplete="off">
        </div>

        <div class="form-group">
            <span class="filed-name">Name</span>
            <input name="name" type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon2" required autocomplete="off">
        </div>

        <div class="filed-name" style="width:70px;">
            <span class="filed-name">Is active</span>
            <select name="isActive" class="form-control" >
                <option id="No" value="0">No</option>
                <option id="Yes" value="1">Yes</option>
                </select>
            </div>
        <br>
        <div class="form-group">
            <input name="submit" type="submit" class="form-control btn-info login-button" value="Zapisz" aria-describedby="basic-addon2" required>
        </div>
    </form>
</div>

{% endblock %}