{% extends 'CmsUserBundle::layout.html.twig' %}

{% block body %}
<div class="container">
    {% if roles %}
        <div class="box-info"></div>
        <table class="table table-hover">
            <tr class="navbar-inverse user-menu">
                <th>Id </th>
                <th>Role </th>
                <th>Name </th>
                <th>Is active </th>
                <th>Delete </th>
                <th>Edit </th>
            </tr>

            {% for role in roles %}
                <tr id="edit-{{ loop.index }}" class="{% if  role.isActive == 1 %}active-element{% else %}no-active{% endif %}">
                    <td id="id"> <span>{{ role.id }} </span></td>
                    <td id="role"> <span>{{ role.role }} </span></td>
                    <td id="name"> <span>{{ role.name }} </span></td>
                    <td id="isActive">
                        {% if role.isActive == 0 %} <span>No</span> {% else %}  <span>Yes</span> {% endif %}
                    </td>
                    <td id="unset-role"><a class="delete prompt-for-delete" href="{{ path('delete-role', {'roleId': role.id }) }}">Delete</a></td>
                    <td id="edit-role"><a id="{{ loop.index }}" href="{{ path('edit-role', {'roleId': role.id }) }}">Edit</a></td>
                </tr>
                <tr class="show-row-{{ loop.index }} jumbotron-message">
                    <td colspan=9>
                        <div class="jumbotron jumbotron-{{ loop.index }}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form method="POST" action="{{ path('role') }}">

        <div class="form-group">
            <span class="filed-name">Role</span>
            <input name="role" type="text" class="form-control" placeholder="Role" aria-describedby="basic-addon2" required autocomplete="off">
        </div>

        <div class="form-group">
            <span class="filed-name">Name</span>
            <input name="name" type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon2" required autocomplete="off">
        </div>

        <div class="filed-name role-is-active" >
            <span class="filed-name">Is active</span>
            <select name="isActive" class="form-control" >
                <option id="No" value="0">No</option>
                <option id="Yes" value="1">Yes</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <input name="submit" type="submit" class="form-control btn-info login-button" value="Zapisz" aria-describedby="basic-addon2" required>
        </div>
    </form>
</div>

{% endblock %}