{% extends 'CmsUserBundle::layout.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var rolesInDatabase = {{ roles |json_encode|raw }};
    </script>

    <div class="container">
        <div class="box-info"></div>
        <div class="table-responsive">
            <table class="table .table-hover">
                <tr class="navbar-inverse user-menu">
                    <th>Id </th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Date of birthday</th>
                    <th>About</th>
                    <th>Active</th>
                    <th>Role</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>

                {% for user in users %}
                    <tr id="row{{ loop.index }}" class="{% if  user.isActive == 1 %}active-element{% else %}no-active{% endif %}">
                        <td id="id"> <span>{{ user.id }} </span></td>
                        <td id="username"> <span> {{ user.username }} </span></td>
                        <td id="email"> <span>{{ user.email }} </span></td>
                        <td id="birthday"> <span>{{ user.dateOfBirthday.date }} </span></td>
                        <td id="about"> <span>{{ user.about }} </span></td>
                        <td id="isActive">
                           {% if user.isActive == 0 %} <span>No</span> {% else %}  <span>Yes</span> {% endif %}
                        </td>
                        <td id="roles"> <span>{{ user.roleName }} </span></td>
                        <td class="unset-button"> <a class="delete prompt-for-delete" href="{{ path('deletedUser', {'userId' : user.id}) }}"> Delete</a></td>
                        <td class="edit-user"> <a class="prompt-for-delete"  id="{{ loop.index }}" href="{{ path('editUser', {'userId' : user.id}) }}"> Edit</a></td>
                    </tr>
                    <tr class="show-row-{{ loop.index }} jumbotron-message">
                        <td colspan=9>
                            <div class="jumbotron jumbotron-{{ loop.index }}">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}